<div class="container" 
     fxLayout="column"
     fxLayoutGap="10px">
  <md-card>
    <h1 class="text-center">My Expertise</h1>
    <p class="text-center">
        This is what I do
    </p>
  </md-card>
  
  <div fxLayout="column">
    <img src="./assets/images/green_code.png" width="100%" alt="code">
  </div>
  <!-- <md-card> -->
    <div fxLayout="row" 
         fxLayout.xs="column"
         fxLayoutGap="10px">
      <md-card fxFlex="33%">
        <md-list>
          <md-list-item>
              <p class="text-center"><md-icon>lightbulb_outline  </md-icon></p>
          </md-list-item>
          <md-list-item>
            <h1 class="text-center">Ideas</h1>
          </md-list-item>
          <md-list-item>
            <p class="text-center">
              Work closely with clients to help build the best solutions to their problems
            </p>
          </md-list-item>
        </md-list>
      </md-card>

      <md-card fxFlex="33%">
        <md-list>
          <md-list-item>
            <p class="text-center"><md-icon>school</md-icon></p>
          </md-list-item>
          <md-list-item>
            <h1 class="text-center">Experience</h1>
          </md-list-item>
          <md-list-item>
            <p class="text-center">
              Develop web and mobile applications from the ground up using modern technologies and frameworks
            </p>
            <p class="text-center">
              Specialize in the MEAN stack technologies
            </p>
          </md-list-item>
        </md-list>
      </md-card>
      <md-card fxFlex="33%">
        <md-list>
          <md-list-item>
              <p class="text-center"><md-icon>code</md-icon></p>
          </md-list-item>
          <md-list-item>
              <h1 class="text-center">Code</h1>
          </md-list-item>
          <md-list-item>
            <p class="text-center">
              <strong>JavaScript</strong>  JQuery  TypeScript  <strong>Angular</strong>  Ionic  Bootstrap  npm   HTML  CSS <strong>Node.js</strong> LESS  Sass  Bootstrap <strong>Express</strong>  Ruby  Java  Python  Git <strong>MongoDB</strong>

            </p>
          </md-list-item>
        </md-list>
      </md-card>

    </div >
  <!-- </md-card> -->
  <div fxLayout="column">
      <img src="./assets/images/green_code.png" width="100%" alt="code">
  </div>

  
  <md-card>
      <h1 class="text-center">About Me</h1>
      <p class="text-center">
        I am a full stack web developer specializing in the MEAN stack. My unconventional background has given me a unique perspective and allows me to approach development from a design point of view. Let me know what your needs are and I would be happy to help.
      </p>
  </md-card>
  
</div>