.fill-remaining-space {
    /*This fills the remaining space, by using flexbox.  
   Every toolbar row uses a flexbox row layout. */
   flex: 1 1 auto;
 }

 md-toolbar {
     margin: 0px auto;
 }
 .mat-toolbar{
    background: #ECECEC;
    color: #9F9F9F;
}

 .sw span {
    font-family: "Roboto", "Helvetica Neue", 'sans-serif';
     font-size: 2.5rem;
     font-weight: 900;
 }

 .s {
     color: #000000;
 }

 .w {
    color: #720000
 }

 a {
    text-decoration: none;
    padding: 0px 20px;
    /* color: #720000; */
    color: rgb(249, 249, 249);
    display: flex;
    flex-direction: row;
    -webkit-filter: drop-shadow(1px 1px 1px #494949);
    filter: drop-shadow(1px 1px 1px #494949);

    -webkit-transition: filter .15s ease;
    -moz-transition: filter .15s ease;
    -ms-transition: filter .15s ease;
    -o-transition: filter .15s ease;
    transition: filter .15s ease; 
 }

 .nav span {
    font-family: "Roboto", "Helvetica Neue", 'sans-serif';
    font-size: 1.1rem;
    font-weight: 900;
    margin-left: 8px;
    margin-top: 5px;
    
 }

 .active {
    /* box-shadow: 10px 10px 5px #888888; */
    -webkit-filter: drop-shadow(3px 3px 3px #494949);
    filter: drop-shadow(3px 3px 3px #494949);
 }

 a:hover {
    -webkit-filter: drop-shadow(3px 3px 3px #494949);
    filter: drop-shadow(3px 3px 3px #494949);
 }

.header {
    margin: 0 auto;
    padding: 0;
}

