
<div class="container" 
  fxLayout="column"
  fxLayoutGap="10px">

  <md-card>
      <h1 class="text-center">Contact Me</h1>
      <p class="text-center">
          I would love to hear from you!
      </p>
    </md-card>

  <div fxLayout="column">
      <img src="./assets/images/colorful_code.jpg" width="100%" alt="code">
  </div>

  <md-card>
    <div class="form-center">
      <form class="form">
          <md-form-field class="full-width">
            <input mdInput placeholder="Name" type="text">
          </md-form-field>

          <md-form-field class="full-width">
              <input mdInput placeholder="Email" type="email">
          </md-form-field>
          
          <md-form-field class="full-width">
            <textarea mdInput placeholder="Message" rows="12"></textarea>
          </md-form-field>  
          <button md-raised-button>Submit</button>
      </form>
    </div>
  </md-card>

  <div fxLayout="column">
      <img src="./assets/images/colorful_code.jpg" width="100%" alt="code">
  </div>

  <md-card>
      <p class="text-center">
          Shawn Williams  -  317.777.8870  -  shawn79williams@yahoo.com
      </p>
  </md-card>

</div>

