/* .form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }

  .half-width {
      width: 50%;
  } */

.full-width {
    width: 95%;
}

.half-width {
    width: 47%;
}

.form {
    width: 55%;
}

.form-center {
    text-align: -webkit-center;
}

.submit.mat-raised-button:hover{
    background-color: rgb(228, 228, 228);
}
