<div class="container" 
fxLayout="column"
fxLayoutGap="10px">
<md-card>
<h1 class="text-center">My Work</h1>
<p class="text-center">
   Lorem ipsum dolor sit amet consectetur adipisicing elit.
</p>
</md-card>

<div fxLayout="column">
<img src="./assets/images/green_code.jpg" width="100%" alt="code">
</div>
<!-- <md-card> -->
<div fxLayout="column" 
    fxLayout.xs="column"
    fxLayoutGap="10px">
 
<div fxLayout="row"
    fxLayout.sx="column">
  <md-card>
    <div fxFlex="33.33%">
        <img src="./assets/images/workout-log.png" width="100%" alt="workout log">
    </div>
    <div fxFlex="33.33%">
     
       <h1 class="text-center">Ideas</h1>
    
    </div>
    <div fxFlex="33.33%">
       <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero dolorem iusto aliquam nostrum repellat laboriosam, sit perspiciatis quibusdam illo nihil. Facilis reprehenderit itaque, vel similique nesciunt ex eaque dolorem doloremque.
       </p>
       <img src="./assets/images/code_icon.png" width="20%" alt="code">
    </div>
 </md-card>
</div>

 <md-card>
    <div fxFlex="33.33%">
        <img src="./assets/images/shawn-williams-photo.png" width="100%" alt="photography website">
    </div>
    <div fxFlex="33.33%">
     
       <h1 class="text-center">Ideas</h1>
    
    </div>
    <div fxFlex="33.33%">
       <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero dolorem iusto aliquam nostrum repellat laboriosam, sit perspiciatis quibusdam illo nihil. Facilis reprehenderit itaque, vel similique nesciunt ex eaque dolorem doloremque.
       </p>
    </div>
 </md-card>
 <md-card>
   <md-list>
     <md-list-item>
         <p class="text-center"><md-icon>code</md-icon></p>
     </md-list-item>
     <md-list-item>
         <h1 class="text-center">Code</h1>
     </md-list-item>
     <md-list-item>
       <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero dolorem iusto aliquam nostrum repellat laboriosam, sit perspiciatis quibusdam illo nihil. Facilis reprehenderit itaque, vel similique nesciunt ex eaque dolorem doloremque.
       </p>
     </md-list-item>
   </md-list>
 </md-card>

</div >
<!-- </md-card> -->
<div fxLayout="column">
 <img src="./assets/images/green_code.jpg" width="100%" alt="code">

</div>

<md-card>
 <h1 class="text-center">Resume</h1>
 <p class="text-center">
     Lorem ipsum dolor sit amet consectetur adipisicing elit.
 </p>
</md-card>
</div>
