<div class="container" 
  fxLayout="column"
  fxLayoutGap="10px">
    <md-card>
      <h1 class="text-center">My Work</h1>
      <p class="text-center">
        These are a few of my projects
      </p>
    </md-card>


    <img class="macbook" src="./assets/images/macbook.png" width="100%" alt="macbook">
 
<!-- <md-card> -->
  <md-card>
    <div fxLayout="row" 
        fxLayoutGap="10px"
        fxLayout.sm="column"
        fxLayout.xs="column">
        
          <div fxFlex="30%" fxFlexAlign="center">
              <img class="shadow" src="./assets/images/workout-log.png" width="100%" alt="workout log">
          </div>

          <div class="info" fxFlex="30%">
            <h1 class="text-center">Workout Log</h1>
            <!-- <p class="text-center">A web app for tracking workouts</p> -->
            <a md-raised-button href="https://workoutlog01.herokuapp.com/" target="_blank" >Visit Site</a>
          </div>
          <div class="info" fxFlex>
            <p class="text-center">
              This web app is targeted at weightlifting and strength training. It provides an easy and intuitive system for tracking workouts and progress. The app is currently a work in process and a mobile version is also under development.
            </p>
            <a href="https://github.com/shawnewilliams/workout-log" target="_blank"><img class="shadow" src="./assets/images/code_icon.png" width="50px" alt="code"></a>
          </div>
    </div>
  </md-card>

  <md-card>
    <div fxLayout="row" 
        fxLayoutGap="10px"
        fxLayout.sm="column"
        fxLayout.xs="column">
        
          <div fxFlex="30%" fxFlexAlign="center">
              <img class="shadow" src="./assets/images/chat-app.png" width="100%" alt="photography website">
          </div>

          <div class="info" fxFlex="30%">
            <h1 class="text-center">Chat App</h1>
            <!-- <p class="text-center">My personal photography portfolio site</p> -->
            <a md-raised-button href="https://infinite-shore-75463.herokuapp.com" target="_blank" >Visit Site</a>
          </div>
          <div class="info" fxFlex>
            <p class="text-center">
              A chat app that allows leverages socket.io to allow users to communicate across multiple browsers and platforms.
            </p>
            <a href="https://github.com/shawnewilliams/node-chat-app" target="_blank"><img class="shadow" src="./assets/images/code_icon.png" width="50px" alt="code"></a>
          </div>
    </div>
  </md-card>

  <md-card>
    <div fxLayout="row" 
        fxLayoutGap="10px"
        fxLayout.sm="column"
        fxLayout.xs="column">
        
          <div fxFlex="30%" fxFlexAlign="center">
              <img class="shadow" src="./assets/images/shawn-williams-photo.png" width="100%" alt="photography website">
          </div>

          <div class="info" fxFlex="30%">
            <h1 class="text-center">Shawn Williams Photography</h1>
            <!-- <p class="text-center">My personal photography portfolio site</p> -->
            <a md-raised-button href="http://www.shawnwilliamsphotography.com/" target="_blank" >Visit Site</a>
          </div>
          <div class="info" fxFlex>
            <p class="text-center">
              My personal photography portfolio            
            </p>
            <a href="https://github.com/shawnewilliams" target="_blank"><img class="shadow" src="./assets/images/code_icon.png" width="50px" alt="code"></a>
          </div>
    </div>
  </md-card>
<!-- </md-card> -->
<div fxLayout="column">
  <img class="macbook" src="./assets/images/macbook.png" width="100%" alt="macbook">
</div>