/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html { 
    font-size: 100%;
}
.container {
    margin: 0 20px 20px 20px;
}

body {
    margin: 0;
    background: #ECECEC;
}

.text-center {
    text-align: center;
}

.shadow {
    -webkit-filter: drop-shadow(3px 3px 3px #494949);
    filter: drop-shadow(3px 3px 3px #494949);
}

/* .mat-card {
    background-color: white;
} */