.shawn {
    color: black;
}

.williams {
    color: #720000;
}

h1 {
    text-align: center;
   
    font-size: 2rem;
    margin-bottom: 0;
}


h3 {
    margin-top: 10px;
}

img {
    display: block;
    margin: 0 auto;
}

.vert-align {
    margin: auto 0;
}